<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Base.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Link.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Group.css" />

        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/ActivitiesGrid.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Activity.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/HomePageHeader.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/PageBox.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/PageContent.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Text.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Title.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Image.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/AboutTextLayout.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/LightBlueBlock.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Separator.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/PageFooter.css" />

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900&amp;subset=cyrillic" rel="stylesheet">
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500" as="fetch" crossorigin="anonymous">
    </f:section>

	<f:section name="headScripts">
        <script type="text/javascript">
        !function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Fira+Sans:400,500",r="__3perf_googleFontsStylesheet";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142589045-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-142589045-1');
        </script>
    </f:section>
</head>
<body>
<f:section name="body">
	<div class="PageBox">
		{content.main -> f:format.raw()}
	</div>
</f:section>
<f:section name="bodyScripts">
	<!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
</f:section>
</body>
</html>
