<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Base.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Link.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Group.css" />

        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/ActivitiesGrid.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Activity.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/HomePageHeader.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/PageBox.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/PageContent.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Text.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Title.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Image.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/AboutTextLayout.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/LightBlueBlock.css" />
        <link rel="stylesheet" href="resource://Atlantic.Site/Public/Styles/Separator.css" />
	</f:section>
	<f:section name="headScripts">
		<!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
	</f:section>
</head>
<body>
<f:section name="body">
	<div class="PageBox">
		{content.main -> f:format.raw()}
	</div>
</f:section>
<f:section name="bodyScripts">
	<!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
</f:section>
</body>
</html>
