input {
    border: 2px solid #318dfa;
    font-size: 20px;
    line-height: 32px;
    padding: 5px 11px;
    width: 100%;
    background: white;
}

input:focus {
    outline-color: #318DFA;
    outline-offset: 0px;
    outline-style: solid;
    outline-width: 2px;
}
