.Text {
    font-size: 20px;
    line-height: 26px;
}

.Text h3 {
    margin-bottom: 13px;
    font-weight: 500;
    font-size: inherit;
}

.Text > p {
    margin-top: 13px;
    margin-bottom: 13px;
}

.Text > p:first-child {
    margin-top: 0;
}
