<footer class="PageFooter">
    <div class="PageFooterLinks">
      <div class="PageFooterColumn">
        <h5 class="PageFooterTitle">Связаться</h5>
        <div><a class="Link PageFooterLink" target="_blank" rel="noopener noreferrer" href="https://vk.com/ac_russia">ВКонтакте</a></div>
        <div><a class="Link PageFooterLink" href="mailto:atlantic.challenge.ru@gmail.com">atlantic.challenge.ru@gmail.com</a></div>
        <div><a class="Link PageFooterLink" href="tel:89817900571">+7 981 790-05-71,<br />Паша Леднёв, запись на&nbsp;тренировки</a></div>
        <div><a class="Link PageFooterLink" href="tel:89500192374">+7 950 019-23-74,<br />Женя Сиобко, тренер</a></div>
      </div>
      <div class="PageFooterColumn">
        <h5 class="PageFooterTitle">Следить</h5>
        <div><a class="Link PageFooterLink" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/user/AtlanticChallengeRus">Ютьюб</a></div>
        <div><a class="Link PageFooterLink" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/atlanticchallenge_ru/">Инстаграм</a></div>
        <div><a class="Link PageFooterLink" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/atlanticchallengerus/">Фейсбук</a></div>
      </div>
      <div class="PageFooterColumn">
        <h5 class="PageFooterTitle">Поддержать</h5>
        <div><a class="Link PageFooterLink" target="_blank" rel="noopener noreferrer" href="https://money.yandex.ru/to/410011263528706">Яндекс-деньги</a></div>
        <div><a class="Link PageFooterLink" target="_blank" rel="noopener noreferrer" href="https://vk.com/ac_russia?w=app5727453_-34777">Перевод ВК</a></div>
      </div>
    </div>
    <address class="PageFooterAddress">
      <div class="PageFooterStreet">
        ул.&nbsp;Петровская&nbsp;коса д.&nbsp;9, Центральный яхт-клуб,
      </div>
      <div class="PageFooterCity">
        Санкт-Петербург, Россия
      </div>
    </address>
</footer>
